# Python I: Basic Language

This notebook is intented to be an introduction to python language by showing the basic building blocks their use, implementation and powerness. We structure the file as follows:

- [Basic operations](#s1)

- [Data types](#s2)

    - [Strings](#s2.1)
    - [Lists](#s2.2)
    - [Tuples](#s2.3)
    - [Dictionaries](#s2.4)
    - [Sets](#s2.5)

- [Execution control statements](#s3)

    - [Conditional statements](#s3.1)
    - [Loops](#s3.2)
    - [Exceptions handling](#s3.3)
    - [Map and Filter](#s3.4)

- [Functions](#s4)

- [Classes](#s5)

##  <a class="anchor" id='s1'>Basic operations</a>

### Number operations

In [1]:
10 + 4

14

In [2]:
10 - 4

6

In [3]:
10 * 4

40

In [10]:
10 ** 4 # exponent

10000

In [5]:
5 % 4 # modulo - computes the remainder

1

In [11]:
5 // 4 # floor division

1

In [12]:
5 / 4 # true division

1.25

### Boolean operations

In [13]:
x = 5

In [14]:
x > 3

True

In [15]:
x >= 3

True

In [16]:
x != 3

True

In [17]:
x == 5

True

In [18]:
x > 3 and 6 > 3

True

In [19]:
5 > 3 or 5 < 3

True

In [20]:
not False

True

In [21]:
False or not False and True # evaluation order: not, and, or

True

##  <a class="anchor" id='s2'>Data types</a>

In [22]:
type(2)

int

In [23]:
type(2.0)

float

In [24]:
type('Salut')

str

In [25]:
type(True)

bool

In [26]:
type(None)

NoneType

###  <a class="anchor" id='s2.1'>Strings</a>

A sequence of characters, they are iterable, immutable

In [82]:
# convert another data type into a string
s = str(42)
s

'42'

In [83]:
# create a string directly
s = 'I like you'

In [84]:
s

'I like you'

#### Examine a string

In [87]:
s[0], s[1], s[2]

('I', ' ', 'l')

In [88]:
len(s)

10

#### String slicing is like list slicing

In [89]:
s[:6]

'I like'

In [90]:
s[7:]

'you'

In [91]:
s[-1]

'u'

#### Basic string methods

In [92]:
s.lower()

'i like you'

In [93]:
s.upper()

'I LIKE YOU'

In [96]:
s.startswith('I')

True

In [97]:
s.endswith('you')

True

In [98]:
# checks whether every character in the string is a digit
s.isdigit()

False

In [102]:
# returns index of first occurrence, but doesn't support regex
s.find('like')

2

In [100]:
# returns -1 since not found
s.find('hate')

-1

In [103]:
# replaces all instances of 'like' with 'love'
s.replace('like', 'love')

'I love you'

In [104]:
s

'I like you'

#### Split, join or concatenate strings

In [105]:
# split a string into a list of substrings separated by a delimiter
s.split(' ')

['I', 'like', 'you']

In [106]:
# equivalent (since space is the default delimiter)
s.split()

['I', 'like', 'you']

In [107]:
s2 = 'a, an, the'
s2.split(',')

['a', ' an', ' the']

In [108]:
# join a list of strings into one string using a delimiter
stooges = ['larry', 'curly', 'moe']
' '.join(stooges)

'larry curly moe'

In [109]:
# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4

'The meaning of life is 42'

In [110]:
# Remove whitespace from the start and end of a string
s5 = '  ham and cheese  '
s5.strip()

'ham and cheese'

#### String substitutions

In [112]:
# new way
'raining {} and {}'.format('cats', 'dogs')

'raining cats and dogs'

In [113]:
# new way (using named arguments)
'raining {arg1} and {arg2}'.format(arg1='cats', arg2='dogs')

'raining cats and dogs'

#### String formatting

In [114]:
# use 2 decimal places
'pi is {:.2f}'.format(3.14159)

'pi is 3.14'

###  <a class="anchor" id='s2.2'>Lists</a>

Different objects categorized along a certain ordered sequence, lists are ordered, iterable, mu- table (adding or removing objects changes the list size), can contain multiple data types

In [30]:
# create an empty list
empty_list = []

# or
empty_list = list()

In [52]:
# create a list 
mylist = ['Andrea', 'Seba', 'Marta']

In [40]:
type(mylist)

list

#### Examine a list

In [34]:
# length of a list
len(mylist)

3

In [46]:
# print elements in a list
mylist[0], mylist[2], mylist[-1]

('Andrea', 'Marta', 'Marta')

#### Modify a list

In [53]:
# append element to end
mylist.append('Gerry')
mylist

['Andrea', 'Seba', 'Marta', 'Gerry']

In [54]:
# append multiple elements to end
mylist.extend(['Rosy', 'Roby'])
mylist

['Andrea', 'Seba', 'Marta', 'Gerry', 'Rosy', 'Roby']

In [55]:
# insert element at index 3 (shifts everything right)
mylist.insert(3,'Daniel')
mylist

['Andrea', 'Seba', 'Marta', 'Daniel', 'Gerry', 'Rosy', 'Roby']

In [56]:
# search for first instance and remove it
mylist.remove('Daniel')
mylist

['Andrea', 'Seba', 'Marta', 'Gerry', 'Rosy', 'Roby']

In [57]:
# remove element 0 and return it
mylist.pop(-1)

'Roby'

In [58]:
mylist

['Andrea', 'Seba', 'Marta', 'Gerry', 'Rosy']

In [59]:
# remove element 0 (does not return it)
del mylist[0]
mylist

['Seba', 'Marta', 'Gerry', 'Rosy']

In [60]:
# replace element 0
mylist[0] = 'Andrea'
mylist

['Andrea', 'Marta', 'Gerry', 'Rosy']

In [62]:
# concatenate lists (slower than 'extend' method)
mylist_2 = mylist + ['amico','friend']
mylist_2

['Andrea', 'Marta', 'Gerry', 'Rosy', 'amico', 'friend']

#### Find elements in a list

In [63]:
# counts the number of instances
mylist.count('Andrea')

1

In [65]:
# returns index of first instance
mylist.index('Gerry')

2

#### List slicing

In [66]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

In [67]:
# element 0
weekdays[0]

'mon'

In [68]:
# elements 0 (inclusive) to 3 (exclusive)
weekdays[0:3]

['mon', 'tues', 'wed']

In [69]:
# starting point is implied to be 0
weekdays[:3]

['mon', 'tues', 'wed']

In [70]:
# elements 3 (inclusive) through the end
weekdays[3:]

['thurs', 'fri']

In [71]:
# every 2nd element (step by 2)
weekdays[::2]

['mon', 'wed', 'fri']

In [73]:
# backwards (step by -1)
weekdays[::-1]

# or
list(reversed(weekdays))

['fri', 'thurs', 'wed', 'tues', 'mon']

#### Sort a list in place

In [74]:
mylist

['Andrea', 'Marta', 'Gerry', 'Rosy']

In [75]:
mylist.sort()
mylist

['Andrea', 'Gerry', 'Marta', 'Rosy']

In [76]:
# sort in reverse
mylist.sort(reverse=True)
mylist

['Rosy', 'Marta', 'Gerry', 'Andrea']

In [77]:
# sort by a key
mylist.sort(key=len)
mylist

['Rosy', 'Marta', 'Gerry', 'Andrea']

#### Sort a list in place without modifying the original one

In [78]:
sorted(mylist)

['Andrea', 'Gerry', 'Marta', 'Rosy']

In [80]:
sorted(mylist, reverse=True)

['Rosy', 'Marta', 'Gerry', 'Andrea']

In [81]:
sorted(mylist, key = len)

['Rosy', 'Marta', 'Gerry', 'Andrea']

###  <a class="anchor" id='s2.3'>Tuples</a>

Like lists, but their size cannot change: ordered, iterable, immutable, can contain multiple data types

In [115]:
# create a tuple directly
digits = (0, 1, 'two')

In [116]:
# create a tuple from a list
digits = tuple([0, 1, 'two'])

In [117]:
# trailing comma is required to indicate it's a tuple
zero = (0,)

#### Examine a tuple

In [118]:
digits[2]

'two'

In [119]:
len(digits)

3

In [120]:
# counts the number of instances of that value
digits.count(0)

1

In [121]:
# returns the index of the first instance of that value
digits.index(1)

1

#### Modify a tuple

In [ ]:
# elements of a tuple cannot be modified (this would throw an error)
# digits[2] = 2

In [122]:
# concatenate tuples
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4)

In [123]:
# create a single tuple with elements repeated (also works with lists)
(3, 4) * 2

(3, 4, 3, 4)

In [124]:
# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens)    # sorts by first element in tuple, then second element

[(10, 40), (20, 30), (20, 60)]

In [125]:
# tuple unpacking
bart = ('male', 10, 'simpson')    # create a tuple
(sex, age, surname) = bart        # assign three values at once
print(sex)
print(age)
print(surname)

male
10
simpson

###  <a class="anchor" id='s2.4'>Dictionaries</a>

Dictionaries are structures which can contain multiple data types, and is ordered with key-value pairs: for each (unique) key, the dictionary outputs one value. Keys can be strings, numbers, or tuples, while the corresponding values can be any Python object. Dictionaries are: unordered, iterable, mutable

In [31]:
# create an empty dictionary
empty_dict = {}

# or
empty_dict = dict()

In [32]:
# create a dictionary
family = {'dad':'homer', 'mom':'marge', 'size':6}

# or
family = dict(dad='homer', mom='marge', size=6)

family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [33]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]
family = dict(list_of_tuples)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

#### Examine a dictionary

In [34]:
# pass a key to return its value
family['dad']

'homer'

In [35]:
# return the number of key-value pairs
len(family)

3

In [36]:
# check if key exists in dictionary
'mom' in family

True

In [37]:
# dictionary values are not checked
'marge' in family

False

In [38]:
# returns a list of keys in an iterable view 
family.keys()

dict_keys(['dad', 'mom', 'size'])

In [39]:
# returns a list of values in an iterable view 
family.values()

dict_values(['homer', 'marge', 6])

In [40]:
# returns a list of key-value pairs in an iterable view
family.items()

dict_items([('dad', 'homer'), ('mom', 'marge'), ('size', 6)])

#### Modify a dictionary (modifying the dictionary)

In [41]:
# add a new entry
family['cat'] = 'snowball'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball'}

In [42]:
# edit an existing entry
family['cat'] = 'snowball ii'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball ii'}

In [43]:
# delete an entry
del family['cat']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [44]:
# dictionary value can be a list
family['kids'] = ['bart', 'lisa']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'kids': ['bart', 'lisa']}

In [45]:
# remove an entry and return the value
family.pop('dad')

'homer'

In [46]:
# add multiple entries
family.update({'baby':'maggie', 'grandpa':'abe'})
family

{'mom': 'marge',
 'size': 6,
 'kids': ['bart', 'lisa'],
 'baby': 'maggie',
 'grandpa': 'abe'}

#### Access values more safely with `get`

In [47]:
family['mom']

'marge'

In [48]:
family.get('mom')

'marge'

In [49]:
# return None if not found
family.get('andrea')

In [50]:
# provide a default return value if not found
family.get('andrea','not found')

'not found'

#### Access a list element within a dictionary

In [51]:
family['kids']

['bart', 'lisa']

In [52]:
family['kids'][0]

'bart'

In [53]:
family['kids'].remove('lisa')
family

{'mom': 'marge',
 'size': 6,
 'kids': ['bart'],
 'baby': 'maggie',
 'grandpa': 'abe'}

#### String substitution using a dictionary

In [54]:
'youngest child is %(baby)s' % family

'youngest child is maggie'

###  <a class="anchor" id='s2.5'>Sets</a>

Like dictionaries, but with unique keys only (no corresponding values). They are: unordered, it- erable, mutable, can contain multiple data types made up of unique elements (strings, numbers, or tuples)

In [55]:
# create an empty set
empty_set = set()

In [56]:
# create a set directly
languages = {'python', 'r', 'java'}

In [57]:
# create a set from a list
snakes = set(['cobra', 'viper', 'python'])

#### Examine a set

In [58]:
len(languages)

3

In [59]:
'python' in languages

True

#### Set operations

In [60]:
# union 
languages | snakes

{'cobra', 'java', 'python', 'r', 'viper'}

In [61]:
# intersection 
languages & snakes

{'python'}

In [62]:
# set differences 
languages - snakes

{'java', 'r'}

In [63]:
# set differences 
snakes - languages

{'cobra', 'viper'}

#### Modify a set

In [64]:
# add a new element
languages.add('sql')
languages

{'java', 'python', 'r', 'sql'}

In [65]:
# try to add an existing element (ignored, no error)
languages.add('r')
languages

{'java', 'python', 'r', 'sql'}

In [66]:
# remove an element
languages.remove('java')
languages

{'python', 'r', 'sql'}

In [67]:
# remove an element if present, but ignored otherwise
languages.discard('c')
languages

{'python', 'r', 'sql'}

In [68]:
# remove and return an arbitrary element
languages.pop()

'python'

In [69]:
# remove all elements
languages.clear()
languages

set()

In [70]:
# add multiple elements (can also pass a set)
languages.update(['go', 'spark'])
languages

{'go', 'spark'}

##  <a class="anchor" id='s3'>Execution control statements</a>

###  <a class="anchor" id='s3.1'>Conditional statements</a>

In [71]:
x = 5

In [72]:
# if statement
if x > 0:
    print('positive')

positive

In [73]:
# if/else statement
if x > 0:
    print('positive')
else:
    print('zero or negative')

positive

In [74]:
# if/elif/else statement
if x > 0:
    print('positive')
elif x == 0:
    print('zero')
else:
    print('negative')

positive

In [76]:
# single-line if statement
if x > 0: print('positive')

positive

###  <a class="anchor" id='s3.2'>Loops</a>

#### `range` returns a list of integers or a sequence

In [77]:
# includes the start value but excludes the stop value
range(0, 3)

range(0, 3)

In [78]:
# default start value is 0
range(3)

range(0, 3)

In [79]:
# third argument is the step value
range(0, 5, 2)

range(0, 5, 2)

#### `for` loops

In [81]:
# recommended style
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY

In [82]:
# iterate through two things at once (using tuple unpacking)
family = {'dad':'homer', 'mom':'marge', 'size':6}
for key, value in family.items():
    print(key, value)

dad homer
mom marge
size 6

In [83]:
# use enumerate if you need to access the index value within the loop
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

#### `for`/`else` loop

In [84]:
for fruit in fruits:
    if fruit == 'banana':
        print('Found the banana!')
        break    # exit the loop and skip the 'else' block
else:
    # this block executes ONLY if the for loop completes without hitting 'break'
    print("Can't find the banana")

Found the banana!

#### `while` loop

In [85]:
count = 0
while count < 5:
    print('This will print 5 times')
    count += 1    # equivalent to 'count = count + 1'

This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times

#### Comprehension

In [86]:
# for loop to create a list of cubes
nums = [1, 2, 3, 4, 5]
cubes = []
for num in nums:
    cubes.append(num**3)
cubes

[1, 8, 27, 64, 125]

In [87]:
# equivalent list comprehension
cubes = [num**3 for num in nums]
cubes

[1, 8, 27, 64, 125]

In [88]:
# for loop to create a list of cubes of even numbers
cubes_of_even = []
for num in nums:
    if num % 2 == 0:
        cubes_of_even.append(num**3)
cubes_of_even

[8, 64]

In [89]:
# equivalent list comprehension
# syntax: [expression for variable in iterable if condition]
cubes_of_even = [num**3 for num in nums if num % 2 == 0]
cubes_of_even

[8, 64]

In [90]:
# for loop to cube even numbers and square odd numbers
cubes_and_squares = []
for num in nums:
    if num % 2 == 0:
        cubes_and_squares.append(num**3)
    else:
        cubes_and_squares.append(num**2)
cubes_and_squares

[1, 8, 9, 64, 25]

In [91]:
# equivalent list comprehension (using a ternary expression)
# syntax: [true_condition if condition else false_condition for variable in iterable]
cubes_and_squares = [num**3 if num % 2 == 0 else num**2 for num in nums]
cubes_and_squares

[1, 8, 9, 64, 25]

In [92]:
# for loop to flatten a 2d-matrix
matrix = [[1, 2], [3, 4]]
items = []
for row in matrix:
    for item in row:
        items.append(item)
items

[1, 2, 3, 4]

In [93]:
# equivalent list comprehension
items = [item for row in matrix
              for item in row]
items

[1, 2, 3, 4]

In [94]:
fruit_lengths = {fruit:len(fruit) for fruit in fruits}
fruit_lengths

{'apple': 5, 'banana': 6, 'cherry': 6}

In [95]:
fruit_indices = {fruit:index for index, fruit in enumerate(fruits)}
fruit_indices

{'apple': 0, 'banana': 1, 'cherry': 2}

###  <a class="anchor" id='s3.3'>Exceptions handling</a>

In [100]:
dct = dict(a=[1, 2], b=[4, 5])

key =  'c'  
try:
    dct[key]
except:
    print("Key %s is missing. Add it with empty value" % key)
    dct['c'] = []

print(dct)

Key c is missing. Add it with empty value
{'a': [1, 2], 'b': [4, 5], 'c': []}

###  <a class="anchor" id='s3.4'>Map and Filter</a>

In [101]:
simpsons = ['homer', 'marge', 'bart']
map(len, simpsons)

In [102]:
# equivalent list comprehension
[len(word) for word in simpsons]

[5, 5, 4]

In [103]:
map(lambda word: word[-1], simpsons)

In [104]:
# equivalent list comprehension
[word[-1] for word in simpsons]

['r', 'e', 't']

In [105]:
nums = range(5)
filter(lambda x: x % 2 == 0, nums)

In [106]:
# equivalent list comprehension
[num for num in nums if num % 2 == 0]

[0, 2, 4]

##  <a class="anchor" id='s4'>Functions</a>

#### Defining functions

In [109]:
# Define a function with no arguments and no return values
def print_text():
    print('Ciao Mondo')

In [110]:
print_text()

Ciao Mondo

In [111]:
# Define a function with one argument and no return values
def print_this(x):
    print(x)

In [112]:
print_this(3)

3

In [113]:
# prints 3, but doesn't assign 3 to n because the function has no return statement
n = print_this(3)

3

In [115]:
# Define a function with one argument and one return value
def square_this(x):
    return x**2

In [116]:
# include an optional docstring to describe the effect of a function
def square_this(x):
    """Return the square of a number."""
    return x**2

In [117]:
# call the function
square_this(3)

9

In [119]:
# assigns 9 to var, but does not print 9
var = square_this(3)
var

9

In [120]:
# Define a function with two 'positional arguments' (no default values) and one 'keyword argument' (has a default value)
def calc(a, b, op='add'):
    if op == 'add':
        return a + b
    elif op == 'sub':
        return a - b
    else:
        print('valid operations are add and sub')

In [121]:
# call the function
calc(10, 4, op='add')

14

In [122]:
# default for 'op' is 'add'
calc(10, 4)

14

In [123]:
calc(10, 4, 'sub')

6

In [124]:
calc(10, 4, 'div')

valid operations are add and sub

In [125]:
# Return two values from a single function
def min_max(nums):
    return min(nums), max(nums)

In [126]:
# return values can be assigned to a single variable as a tuple
nums = [1, 2, 3]
min_max_num = min_max(nums)
min_max_num

(1, 3)

In [127]:
# return values can be assigned into multiple variables using tuple unpacking
min_num, max_num = min_max(nums)
print(min_num)
print(max_num)

1
3

####  Anonymous (Lambda) Functions

In [128]:
# define a function the "usual" way
def squared(x):
    return x**2

In [129]:
# define an identical function using lambda
squared = lambda x: x**2

In [132]:
squared(3)

9

In [133]:
# Sort a list of strings by the last letter without using lambda
simpsons = ['homer', 'marge', 'bart']
def last_letter(word):
    return word[-1]
sorted(simpsons, key=last_letter)

['marge', 'homer', 'bart']

In [134]:
# using lambda
sorted(simpsons, key=lambda word: word[-1])

['marge', 'homer', 'bart']

##  <a class="anchor" id='s5'>Classes</a>

#### Create a class

In [335]:
# Create a class with no content
class empty:
    pass

In [336]:
# Create a class with no methods
class myclass:
    x = 5

In [337]:
# Create the object
p = myclass()

In [338]:
p.x

5

In [339]:
# Create a class using the built-in __init__() function and with methods
class Student:
    def __init__(self, name, student_number):
        self.name = name
        self.student_number = student_number
        self.classes = []

    def enrol(self, course_running):
        self.classes.append(course_running)

In [324]:
stud_1=Student('andrea',718956)

In [325]:
stud_1.name

'andrea'

In [326]:
stud_1.student_number

718956

In [327]:
stud_1.classes

[]

In [328]:
stud_1.enrol('Physics')

In [329]:
stud_1.classes

['Physics']

#### Delete methods and objects

In [330]:
del stud_1.classes

In [332]:
del stud_1

#### Inheritance

Inheritance allows us to define a class that inherits all the methods and properties from another class. _Parent class_ is the class being inherited from, also called base class. _Child class_ is the class that inherits from another class, also called derived class.

In [340]:
# Create the parent class
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    
    def printname(self):
        print(self.firstname, self.lastname)

In [342]:
x = Person("Andrea", "Galliani")
x.printname()

Andrea Galliani

In [343]:
# Create the child class I

class Student(Person):
    pass

In [347]:
x = Student("Andrea", "Galliani")
x.printname()

Andrea Galliani

In [348]:
# Create the child class II: adding __init__ function to the child class
class Student(Person):
    def __init__(self, fname, lname, university):
        Person.__init__(self, fname, lname)
        self.univ = university

In [353]:
x = Student("Andrea", "Galliani",'Harvard')
x.firstname, x.univ

('Andrea', 'Harvard')

In [354]:
# Create the child class III: adding __init__ function and the super() function to the child class
class Student(Person):
    def __init__(self, fname, lname, university):
        super().__init__(fname, lname)
        self.univ = university

In [355]:
x = Student("Andrea", "Galliani",'Harvard')
x.firstname, x.univ

('Andrea', 'Harvard')

In [380]:
class Student(Person):
    UNDERGRADUATE, POSTGRADUATE = range(2)

    def __init__(self, student_type, *args, **kwargs):
        self.student_type = student_type
        self.classes = []
        super(Student, self).__init__(*args, **kwargs)

    def enrol(self, course):
        self.classes.append(course)

In [381]:
x = Student(x.POSTGRADUATE,"Andrea", "Galliani")

In [382]:
x.firstname, x.lastname, x.student_type , x.classes

('Andrea', 'Galliani', 1, [])

In [384]:
x.enrol('Physics')

In [386]:
x.firstname, x.lastname, x.student_type , x.classes

('Andrea', 'Galliani', 1, ['Physics'])